numpy
matplotlib
mpmath
ipython
pirrtools
palettable
plotly
bs4
importlib_resources
svgwrite
ipykernel
pytest
pytest-cov
coveralls
sphinx
sphinx-rtd-theme
sphinx-copybutton
sphinx-autobuild
sphinx-autodoc-typehints
